# Green Taxi
/src/green_taxi/ @jess-christine

# Taxi Zones
/src/taxi_zones/ @go-viaaa

# Weather
/src/weather/ @catweyine

# Data Quality Tests
/tests/ @jg0901

# Repository Owner / Fallback
* @JoanMaquinano